TWITTER_APP_KEY=
TWITTER_APP_SECRET=
TWITTER_OAUTH_TOKEN=
TWITTER_OAUTH_TOKEN_SECRET=
MONGODB_URI=
MONGODB_DB_NAME=Actividad1
MONGODB_ACCOUNTS_COLLECTION=twitter_Actividad_Cuentas_D
MONGODB_TWEETS_COLLECTION=tweets_Actividad_D
